* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    min-height: 100vh;
    line-height: 1.5;
}

body {
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    font-size: 0.9rem;
}

.navbar-brand img {
    border-radius: 10px !important;
}

section {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 70px;
}

.busGif {
    width: 100%;
    max-width: 600px; /* Largura máxima fixa */
    height: auto; /* Altura ajustável conforme a proporção da imagem */
    margin: 20px 0; /* Espaçamento entre os elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites */
    border-radius: 20px;
}

.busGif img {
    width: 100%; /* Ocupa 100% da largura do contêiner (.busGif) */
    height: auto; /* Mantém a proporção original da imagem */
    object-fit: contain; /* Garante que a imagem inteira seja visível */
}

#map {
    width: 100%;
    height: 300px;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.distancia {
    margin-top: 80px;
    margin-bottom: 80px;
}

.temp span {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
}

.temp2 {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

.leaflet-interactive {
    stroke: #3388ff;
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.txtMoto {
    margin-top: 15px;
}

.motorista {
    width: 100%;
    max-width: 600px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.escondido {
    display: none !important;
    transition: opacity 0.5s ease;
}

.moving-marker {
    transition: transform 0.1s ease-out;
    z-index: 1000;
}

.moving-marker div {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.dadosM {
    width: 100%;
    display: flex;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.motorista .dadosM img {
    width: 70px;
    margin-right: 5px;
}

.nomeNota i {
    color: gold;
}

.dadosC {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 10px;
}

.infM {
    display: flex;
    flex-direction: column;
}

.inpM textarea{
    width: 90%;
    border: none;
    margin-top: 5px;
}

.inpM textarea:focus{
    outline: none;
}
