* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    min-height: 100vh;
    line-height: 1.5;
}

body {
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.navbar-brand img {
    border-radius: 10px !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler img{
    border-radius: 50% !important;
}

section {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 70px;
}

#map {
    width: 100%;
    height: 300px;
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.temp {
    margin-top: 80px;
    margin-bottom: 80px;
}

.temp span {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.leaflet-interactive {
    stroke: #3388ff;
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
}

.temp span.chegada {
    color: #28a745;
    font-weight: bold;
    text-decoration: none;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.motorista {
    width: 100%;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.dadosM {
    width: 100%;
    display: flex;
    margin-left: 20px;
    margin-bottom: 5px;
}

.motorista .dadosM img {
    width: 70px;
    margin-right: 5px;
}

.nomeNota i {
    color: gold;
}

.dadosC {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}