* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.navbar-brand img {
    border-radius: 10px !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler img{
    border-radius: 50% !important;
}

section {
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 70px - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

#map {
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f8e8e;
    width: 70vw;
    height: 40px;
    max-width: 280px;
    color: white;
    border-radius: 15px;
    gap: 10px;
    cursor: pointer;
}

.search i {
    color: white;
}

/* Media Queries */
@media (min-width: 768px) {
    #map {
        max-width: 800px;
        max-height: 800px;
    }
}

@media (min-width: 1024px) {
    #map {
        max-width: 700px;
        max-height: 700px;
    }
}

@media (max-width: 480px) {
    #map {
        max-width: 700px;
        max-height: 700px;
    }
}